.registerScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  padding: 3rem;
  height: 80%;
  background-color: var(--background-color);
  opacity: 0.9;
  border-radius: 1rem;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}

.fileInputContainer {
  display: inline-block;
  position: relative;
  margin: 1rem 0;
}

.file-label {
  display: inline-block;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9;
  }
}

.file-icon {
  margin-right: 10px;
}

.file-input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
