* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  .link {
    text-decoration: none;
    color: inherit;
  }
}

:root {
  --primary: #6c0707;
  --button-color: #023f23;
  --background-color: #f3e6e6;
  --border-color: #6c0707;
}

body {
  background-color: var(--background-color);
}

/* utils */
button {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
